body {
    background-color: #333;
}
h1 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    left: 23%;
    top: -3%;
}
span {
    font-size: 30px;
    border: 1px solid black;
    color: #000;
    padding: 0 35px;
}
input {
    margin-top: 42px;
    width: 227px;
}
button {
    border-radius: 13%;
    background-color: #555;
}
.logbutton {
    position: absolute;
    top: 34%;
    left: 100%;
}
.backG {
    width: -webkit-fill-available;
    height: 648px;
}
/* .can {
    position: absolute;
} */
.space{
    margin-left: 5px;
    margin-top: 1px;
}
#Numpad {
    position: absolute;
    left: -26%;
    top: 123%;
}
#money {
    position: absolute;
    right: 32px;
    top: 44px;
}
#moneyoutput {
    position: absolute;
    right: 279px;
    top: 250px;
}
.pinlist{
    position: absolute;
    text-transform: uppercase;
    right: 74px;
    top: 13px;
    border: black solid;
    padding: 16px;
    border-radius: 15%;
    background: #3d8fae;
}
.check {
    width: 40px;
}
.layer {
    height: 86%;
    position: absolute;
    top: 50px;
    left: 50px;
}
.number {
    font-size: 23px;
    margin-right: 5px;
    color: #000;
    cursor: default;
    border: none;
}
.number:hover {
    color: #fff;
}
#login{
    margin-top: 147px;
    margin-right: 137px;
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}
#mainScreen{
    color: #000;
    font-size: 13px;
    text-transform: capitalize;
    display: none;
    margin-top: 187px;
    margin-left: -82px;
}
#withdrawal{
    color: #000;
    display: none;
    font-size: 19px;
    text-transform: capitalize;
    margin-top: 152px;
    margin-left: 116px;
}
#deposit{
    color: #000;
    display: none;
    font-size: 19px;
    text-transform: capitalize;
    margin-top: 149px;
    margin-left: 116px;
}
#logout{
    position: absolute;
    top: 163px;
    right: 92px;
}
#name {
    margin-left: 2px;
}
#submit {
    margin-top: 5px;
}
#bar {
    position: absolute;
    top: 169px;
}
#take {
cursor: pointer;
margin: 16px 0px;
width: 126px;
}
#take:hover {
    color: #3d90af;
}
#putIn {
    cursor: pointer;
    margin: 16px 0px;
    width: 88px;
}
#putIn:hover {
    color: #3d90af;
}
#thanks {
    margin-top: 10px;
}