body {
    background-color: #333;
}
h1 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
}
span {
    font-size: 30px;
    border: 1px solid black;
    color: #000;
    padding: 0 35px;
}
input {
    width: 227px;
}
button {
    border-radius: 13%;
    background-color: #555;
}
#money {
    position: absolute;
    right: 32px;
    top: 44px;
}
#moneyoutput {
    position: absolute;
    right: 180px;
    top:120px;
}
.check {
    width: 40px;
}
.front {
    position: absolute;
    top: 60px;
    left: 190px;
}
.layer {
    background-color: #333;
    width: 1430px;
    height: 670px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.number {
    font-size: 25px;
    color: #000;
    cursor: default;
}
.number:hover {
    color: #fff;
}
#login{
    border: 2px solid #000;
    color: #000;
    background-color: darkgreen;
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}
#mainScreen{
    border: 2px solid #000;
    color: #000;
    font-size: 25px;
    text-transform: capitalize;
    background-color: darkgreen;
    display: none;
}
#withdrawal{
    border: 2px solid #000;
    color: #000;
    background-color: darkgreen;
    display: none;
    font-size: 19px;
    text-transform: capitalize;
}
#deposit{
    border: 2px solid #000;
    color: #000;
    background-color: darkgreen;
    display: none;
    font-size: 20px;
    text-transform: capitalize;
}
#logout{
    position: absolute;
    top: 2px;
    right: 17px;
}
#name {
    margin-left: 2px;
}
#submit {
    margin-top: 5px;
}
#bar {
    position: absolute;
    top: 15px;
}
#take {
cursor: pointer;
margin: 16px 0px;
width: 126px;
}
#take:hover {
    color: #fff;
}
#putIn {
    cursor: pointer;
    margin: 16px 0px;
    width: 88px;
}
#putIn:hover {
    color: #fff;
}
#thanks {
    margin-top: 10px;
}